@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
    margin: 0;
    overflow: hidden;
}
*{
    font-family: Nunito;
}
#modal {
    position: fixed;
    font-family: Nunito;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}
h2{
    margin-bottom: 10px;
    margin-top: 0px;
}
.options{
    display: block;
    float: right;
}
.savebutton{
    background-image: linear-gradient( #7ad74c , #43a16d );
    border: none;
    margin-left: 6px;
    border-radius: 2px;
    padding: 2px 20px;
    font-family: Nunito;
    color: white;
}
.anbutton{ /*anonymous button*/
    background-image: linear-gradient( #d0d0d0 , #b3b3b3 );
    border: none;
    border-radius: 2px;
    padding: 2px 6px;
    font-family: Nunito;
    color: black;
}
.modalconent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f9f9f9;
    width: 40%;
    height: 25%;
    padding: 20px;
}
.header{
    position: fixed;
    width: 100%;
    height: 185px;
}
.title { 
   width:100%; 
   height: 120px; 
   background:#353744;
   position: fixed;
   z-index: 1;
}

.bodyhead{
    height: 65px;
    background-color: #f6f6f6;
    font-family: Nufnito;
    top: 120px;
    position: fixed;
    width: calc(100% - 220px);
    right: 0px;
}


.field{
  padding-top: 0px;
  padding-left: 5px;
  color: gray;
}
.field > input{
    float: right;
    border-radius: 8px;
    border: 1px lightgray solid;
    font-family: Nunito;
    width: 340px;
    height: 25px;
    font-weight: bold;
    padding: 3 5 3 5;
}
li > div{
    display: table;
    margin: 15px 5px 16px 0px;
}
li > div > img{
    border-radius: 100px;
    height: 45px;
    width: 45px;
    margin: 0px 5px 0px 5px;
    float: left;
    border-color: rgb(229, 229, 229);
}

pre{
    margin: 0;
}

ol{
    list-style-type: none;
    padding-left: 25px;
}
.cb{
    position: relative;
    float: right;
    top: 1px;
    right: 15px;
    visibility: hidden;
}
li > div > div{
pointer-events: none;
border-radius: 10px;
width: auto;
max-width: 600px;
min-width: 180px;
padding: 5px;
float: left;
word-wrap: break-word;
border: 1px solid rgb(229, 229, 229);
color: rgb(76, 76, 76)
}


li > div:hover div{
    background-color: rgb(235, 237, 236);
}

li > div:hover .cb{
    visibility: visible;
}

nav { 
   width:220px; 
   height:calc(100% - 120px);
   position: fixed;
   background:#61d290; 
   float:left;
   bottom: 0px;
}
.bod { 
   /*bottom: 0px;*/
   font-family: Nunito;
   width: calc(100% - 220px);
   height: calc(100% - 285px);
   margin: 185px 0px 100px;
   background:#f6f6f6;
   float: right;
   overflow-y: auto;
}
.bottom {
	position: fixed;
    bottom: 0; 
    right: -1;
    width: calc(100% - 220px);
    height: 100px; 
    background-color: #ffffff;
    border-top: 1px solid #d7d7d7;
    max-height: 300px;
}
.logo{
    /*padding: 20px 0px 0px 10px;*/
}
textarea{
    height: 100px;
    width: calc(100% - 100px);
    resize: none;
    border: none;
    overflow-y: auto;
    padding: 0;
    word-wrap: break-word;

}
.send{
    position: absolute;
    right: -14px;
    bottom: 8px;
    border: none;
    background-color: white;
}
h1{
    margin: 10 0 10 40px;
    display: inline;
    position: absolute;
    font-family: Nunito;
}


  dl {
    display: inline-flex;
    padding: 0.5em;
    position: fixed;
    right: 30px;
  }
  dt {
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
    margin-left: 5;
  }
  dd {
    margin: 2px;
    padding: 0 0 0.5em 0;
  }
